body{
    font-family: "tahoma";
    font-size: 11pt;
    color: #000000;
    background-image:url("https://assets.entrepreneur.com/content/3x2/2000/20200114172533-planfinanciero.jpeg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
}

fieldset{
    border-radius: 20px;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    padding: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    opacity: 90%;
}

.extBorder {
    padding: 25px;
    line-height: 10px;
}

.table {
    border-radius: 5px;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: 1px;
    background-color: #FFFFFF;
}

.tituloItem{
    border-radius: 5px;
    padding: 6px;
    line-height: 5px;
    font-weight: bold;
    width: 180px;
    font-size: 14px;
    font-family: "tahoma";
}

legend{
    font-family: "tahoma";
    font-size:12pt;
    color:#FFFFFF;
    text-align:center;
    font-weight: bold;
    border-radius: 10px;
    border-color: #dedede;
    border-style: solid;
    border-width: 2px;
    background-color: #2A3B7A;
    padding: 8px 16px 8px 16px;
}

.error{
    font-family: "tahoma";
    font-size: 9pt;
    color: #C32727;
    padding: 2px 2px 5px 2px;
}

.boxText{
    font-family: "tahoma";
    size: 10pt;
    color:#7a7a7a;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border-color: #dedede;
    border-style: solid;
    border-width: 2px;
    width: 200px;
    height: 20px;
    opacity: 95%;
}

.select{
    font-family: "tahoma";
    size: 10pt;
    color:#7a7a7a;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border-color: #dedede;
    border-style: solid;
    border-width: 2px;
    width: 200px;
    height: 30px;
    opacity: 95%;
}

.boton{
    font-family: "tahoma";
    font-weight: bold;
    font-size: 10pt;
    color:#F2F2F2;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    border-color: #F2F2F2;
    border-style: solid;
    border-width: 1px;
    width: 120px;
    height: 32px;
    background-color: #2A3B7A;
}